.container {
  min-height: 100vh;
  background-color: #232323;
  padding-bottom: 4rem;
  color: #ddd;
}

.container h4 {
  color: white;
  font-weight: normal;
  margin-top: 1rem;
  font-size: 1.3rem;
  text-align: center;
}

.container h1 {
  font-weight: 800;
  margin: 1rem 0 2rem 0;
  text-align: center;
}

.flex {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  padding-top: 3rem;
  min-height: 100vh;
}

.flex article {
  width: 25%;
  margin-right: 3rem;
  padding: 2rem 1rem;
}

.flex article h1 {
  font-size: 2rem;
  text-align: left;
  margin-bottom: 0.5rem;
  line-height: 35px;
  margin-top: 0;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 300px;
  height: 450px;
  overflow: hidden;
  z-index: 5;
}

.sliderContainer button {
  background: none;
  border: none;
  cursor: pointer;
}

.buttonLeft {
  position: absolute;
  top: 50%;
  left: -40px;
  z-index: 10;
  transform: translateY(-50%);
  background: none;
}

.buttonRight {
  position: absolute;
  top: 50%;
  right: -40px;
  z-index: 10;
  transform: translateY(-50%);
}

.textShadow {
  color: white;
  filter: drop-shadow(3px 3px 5px white);
}

.textShadow:hover,
.textShadow:active {
  filter: drop-shadow(3px 3px 5px black);
}

.sliderContainer {
  position: relative;
  z-index: 10;
}

.card {
  border-radius: 8px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  transition: 0.3s ease;
  height: 450px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3px;
  background-color: transparent;
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.activeSlide {
  opacity: 1;
  transform: translateX(0);
}
.lastSlide {
  transform: translateX(-100%);
}
.nextSlide {
  transform: translateX(100%);
}

.img {
  overflow: hidden;
  position: relative;
  height: 390px;
  width: 300px;
}

.img img {
  object-position: center;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  transition: 0.3s ease;
}

.img img:hover {
  transform: scale(1.025);
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 0.5rem;
}

.info h3 {
  margin: 0 0 0.2rem 0;
}

.info p {
  margin: 0 0 0.5rem 0;
}

.info a:hover {
  color: var(--color-primary);
}

@media screen and (max-width: 900px) {
  .flex article {
    width: 80%;
    text-align: center;
    margin-right: 0;
  }
  .flex article h1 {
    text-align: unset;
  }
  .flex {
    padding-top: 1rem;
  }
}
