.container {
  background-color: #101010;
  color: white;
}

.flex {
  padding: 3rem 5rem;
  /* max-width: 950px; */
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.left {
  width: 50%;
  padding-left: 4rem;
}

.left h1 {
  margin-bottom: 1rem;
}

.left h4 {
  margin-bottom: 1rem;
}

.book {
  color: var(--color-primary);
  margin-bottom: 2rem;
}

.points {
  max-width: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.point {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-bottom: 0.3rem;
  font-size: 0.9em;
  width: 100%;
  padding-left: 0;
  margin-left: 0;
  text-align: left;
}

.point span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-primary);
}

.membership button {
  text-transform: uppercase;
  margin-top: 1rem;
  width: 75%;
  background-color: var(--color-primary);
  color: var(--color-text);
  padding: 0.8em 0;
  font-size: 1.2em;
  border: 1px solid black;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 var(--color-primary);
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.membership button:hover {
  background: white;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
}
.membership button:active {
  background: white;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  transform: scale(0.99);
}

.line {
  height: 300px;
  width: 1px;
  background-color: #ccc;
}

.right {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.right h1 {
  margin: 0;
  text-align: center;
}

@media screen and (max-width: 1050px) {
  .left {
    padding-left: 0;
  }
}
@media screen and (max-width: 700px) {
  .flex {
    padding: 1rem 2rem;
  }
}

@media screen and (max-width: 610px) {
  .container {
    min-height: 100vh;
  }
  .flex {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 3rem 1rem;
  }
  .left {
    width: 100%;
    text-align: center;
    padding-top: 2rem;
  }

  .left h1 {
    margin-top: 1rem;
  }

  .book {
    padding: 0;
    margin: 0;
  }

  .line {
    transform: rotate(90deg);
    display: none;
  }
  .points {
    width: 100%;
    margin: 0 auto;
  }
  .point {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-bottom: 1rem;
    font-size: 1.1rem;
    text-align: left;
    line-height: 25px;
  }
  .point span {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
  }

  .right h1 {
    margin-top: 0rem;
  }
  .right {
    text-align: center;
    width: 90%;
    height: 40%;
  }
  .right p:last-child {
    padding-top: 1rem;
  }
}
