.nav {
  background-color: var(--color-bg);
  color: var(--color-text);
  position: relative;
  top: 0;
}

.center {
  max-width: 950px;
  height: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.center img {
  border-radius: 50%;
}

.center h1 {
  font-size: 2rem;
  font-weight: 800;
}

.logoDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  text-transform: uppercase;
}

.links,
.socials {
  transition: 0.3s ease;
}

.links li:hover,
.socials li:hover {
  color: var(--color-primary);
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.menu {
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s ease;
  opacity: 1;
}

.menu:active {
  color: var(--color-primary);
}
/* .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

.menu span {
  width: 23px;
  height: 3px;
  background-color: white;
  border-radius: 2px;
} */

@media screen and (max-width: 850px) {
  .menu {
    display: flex;
  }
}

@media screen and (max-width: 550px) {
  .center h1 {
    font-size: 1.7rem;
    margin-left: 1rem;
  }
  .logoDiv {
    gap: 25px;
  }
}
